.new-products {
  padding: 50px 20px 0;
  width: 100%;
  .heading-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: var(--text-color);
        text-transform: capitalize;
        cursor: pointer;
        transition: var(--transition);
        &:not(:last-child) {
          margin-right: 30px;
        }
        &:hover {
          color: var(--title-color);
        }
        &.active {
          color: var(--title-color);
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .new-products {
    .heading-text {
      ul {
        li {
          text-transform: capitalize;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .new-products {
    .heading-text {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      ul {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }
}
